<!DOCTYPE html>
<html {{ site.language_attributes }}>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Véronique Delauney vous accompagne dans l'intégralité de votre projet numérique. De la conception de votre identité visuelle à la réalisation de vos supports print et web, je développe pour vous une stratégie complète à votre image.">
        {{ function('wp_head') }}
    </head>

    <body>
        <div id="page">

            <a name="page-top"></a>

            <header>
                {% block header %}
                    {% include "parts/header.twig" with {'websites' : websites, 'theme_uri' : theme_uri} %}
                {% endblock %}                
            </header>    

            
            {% block content %}
            {% endblock %}
            

            <section>
                <footer>
                    {% block footer %}
                        {% include "parts/footer.twig" with {'websites' : websites, 'theme_uri' : theme_uri} %}
                    {% endblock %}
                </footer>
            </section>
            
        </div> 

       


    </body>
</html>

<a href="#page-top" title="Haut de page" alt="Haut de page" class="backTop">
    <img src="{{ theme_uri }}/assets/img/back-to-top.png" alt="Haut de page" title="Haut de page" />
</a>