<div class="left">
    <div class="group">
        <div>
            <p>
                <strong>Véronique Delauney</strong><br>
                Développement Web & Graphisme
            </p>
        </div>
        <div>
            <a href="#porfolio" alt="Portfolio" title="Portfolio">Portfolio</a>
            <a href="#a-propos" alt="A propos" title="A propos">A propos</a>
            <a href="#competences" alt="Compétences" title="Compétences">Compétences</a>
        </div>
    </div>
</div>

<div class="right">
    <div class="group">
        <div>
            <img src="{{ theme_uri }}/assets/img/v.png" alt="Véronique Delauney" title="Véronique Delauney" />
        </div>
        <div>
            <p>&copy; 2024 - Tous droits réservés</p>
        </div>
</div>