<div class="logo">
    <img class="portrait" src="{{ site_options.logo }}" alt="{{ site_options.nom_complet }}" title="{{ site_options.nom_complet }}" >
    <div class="logotype">
        Développement Web <span class="purple">&</span> Graphisme
    </div>
</div>	
<img src="http://veroniquedelauney.local/wp-content/themes/veronique_theme/assets/img/hamburger.webp" class="hamburger-icon">
<div class="menu">
    <div>
        <a href="#portfolio" title="Découvrir mon portfolio">Portfolio</a>
    </div>
    <div>
        <a href="#a-propos" title="A propos de moi">A propos</a>
    </div>
    <div>
        <a href="#competences" title="Mes compétences">Compétences</a>
    </div>
    <div>
        <a href="#services" title="Voir les services proposés">Services</a>
    </div>
    <div>
        <a href="#contact" title="Me contacter">Contact</a>
    </div>
    <div class="close">
        X
    </div>
</div>